@import url(https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.7.0/build/styles/default.min.css);

.highlight {
    padding: 0 0.5em;
    background: #f3f3f3;
    color: #f3f3f3;
    margin: 25px 0;
    border-radius: var(--radius);
    overflow: auto;
}

.highlight .gutter {
    border-right: 1px solid #35393b;
}


article pre {
    border-radius: var(--radius);
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 15px 6px 15px 0;
    position: relative;
    background: #f3f3f3;
    line-height: 1.3em;
}

article pre::before {
    background: #f3f3f3;
    height: 32px;
    margin-bottom: 0;
    display: block;
}

article pre:after {
    position: absolute;
    border-radius: 50%;
    background: #ff5f56;
    width: 12px;
    height: 12px;
    top: 0;
    left: 12px;
    margin-top: 12px;
    -webkit-box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
    box-shadow: 20px 0 #ffbd2e, 40px 0 #27c93f;
}